body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #004E2D;
}

header {
    background-color: transparent;
    padding: 20px 0;
    text-align: center;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #24A63F;
}

article h1, h2, h3{
    color: #24A63F;
    text-decoration: underline;
    text-underline-offset: 5px;
}

article p{
    color: #24A63F;
    opacity: 50%;
    width: 95%;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 10px 30px;
    display: flex;
    flex-direction: row;
    flex: auto; 
    border-radius: 2px;

}

article {
    flex: 2; 
    overflow-y: auto; 
    align-items: center;
    background-color: transparent;
}

table{
width: 95%;
border-collapse: collapse;
}

th, td {
border: 1px solid #24A63F;
border-radius: 2px;
padding: 8px;
text-align: left;
color: #24A63F;
}

th {
background-color: #24A63F;
color: #004E2D;
}

aside {
    flex: 1; 
    overflow-y: auto;
    background-color: #24A63F;
    border-radius: 2px;
}

aside p{
    color: #004E2D;
    width: 95%;
    padding-left: 15px;
}

footer{
    text-align: center;
}

footer p{
    color: #24A63F;
}


/* Tweets Page Styling */

h1, h2 {
    color: #24A63F;
}
p {
    color: rgba(36, 166, 63, 0.5); 
}
.twitter-tweet p {
    color: #000; 
}
